$primary_one: 252 94% 67%;
$primary_two: 252 100% 73%;
$primary_three: 233 31% 17%;
$primary_four: 233 30% 21%;

$secondary_one: 231 73% 93%;
$secondary_two: 231 20% 61%;
$secondary_three: 231 37% 63%;
$secondary_four: 228 973% 7%;

$error_color: 0 80% 63%;
$light_error_color: 0 100% 80%;
$light_bg: 240 27% 98%;



$gap: 1.5rem;